/*top nav bar*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
    padding: 0%;
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
    background-color:aliceblue ;
}
.loginContainer{
    position: relative;
    width: 1520px;
    height: 800px;
    background: #EEEEEE;
    box-sizing: border-box;
}
nav{
    background: white;
    height: 80px;
    width: 100%;
}
label.logo{
    color: #599F68;
    font-size: 38px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right:100px;
}
nav ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}
nav ul li a{
    color: #599F68;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
nav ul li a.active,
nav ul li a:hover {
    background: #599F68;
    color: white;
    transition: 0.5s;
}
nav ul li a:hover{
    background-color:#4EEC54;
    color: white;
    transition: 0.5s;
}
.animation{
    position: absolute;
    height: 100%;
    top: 0;
    border-radius: 8px;
    transition: all .5s ease 0s;
}



/*container*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

.container{
  max-width: 700px;
  padding: 0 20px;
  margin: 150px auto;
  margin-left: 500px;
  margin-top: 80px; 
}

.wrapper{
  width: 100%;
  height: 400px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.wrapper .title{
  height: 50px;
  background: #1fe629;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form{
  padding: 30px 25px 25px 25px;
}
.wrapper form .row{
  height: 40px;
  margin-top: 10px;
  margin-bottom: 100px;
  position: relative;
}

/*button*/
.button{
    border: none;
    color: rgb(229, 236, 230);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background: rgb(33, 189, 33);
    margin-right: 0px;
    border-radius: 5px;
    margin-top: 10px;
    
  
}

.button1:hover {
background-color: #41ec41;
color: white;
}

.button2:hover {
background-color: #cf440d;
color: white;
}

/*image*/
.right {
    display: block;
    margin-left: auto;
    margin-right: 0px;
    width: 50%;
  }






