@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
    padding: 0%;
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}

nav {
    background: #c4c4c4;
    height: 10vh;
    width: 100%;
    padding-top: 1vh;
}

label.logo {
    color: #599F68;
    font-size: 38px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    background-color: white;
    height: 10vh;
    text-decoration: none;
}

.wadaklogo {
    cursor: pointer;
    width: 7vh;
    border-radius: 80px;
    float: left;
    margin: 1vh 5vw;
}

nav ul {
    float: right;
    margin-right: 100px;
    background-color: white;
    border-radius: 50px;
}

nav ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}

nav ul li a {
    color: #599F68;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

nav ul li a.active, nav ul li a:hover {
    background: #599F68;
    color: white;
    transition: 0.5s;
    border-radius: 50px;
}

nav ul li a:hover {
    background-color: #7fc03a;
    color: white;
    transition: 0.5s;
}

.animation {
    position: absolute;
    height: 100%;
    top: 0;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

#submitbutton {
    /* Rectangle 90 */
    position: absolute;
    width: 5rem;
    height: 2rem;
    color: white;
    background: #FA0909;
    border-radius: 50px;
    cursor: pointer;
}

.container {
    background-color: #eeeeee;
    width: 100vw;
    height: 90vh;
    top: 10vh;
}

.applyform .form {
    background-color: #599F68;
    width: 30vw;
    height: 50vh;
    margin-left: 35vw;
    margin-top: 20vh;
}

.form span {
    color: white;
}

.applyform .form .container #inputbox {
    position: absolute;
    width: 688px;
    height: 49px;
    background: #DEFCDB;
}