@import url('https:fonts.googleapis.com/css?family=Rubik&display=swap');
body{
    background: #f6f6f6;
}

h4{
    color: rgb(27, 109, 44);
}

.box{
    width:800px;
    margin:100px auto;
    background: rgba(255, 255, 255, 0.911);
    border-radius:7px;
    box-shadow: 1px 2px 4px rgba(0,0,0,.3);
    margin-top: 100px;
}

.box .heading{
    background:-webkit-linear-gradient(left, #58c083, #0aeb0a);
    border-radius:7px 7px 0px 0px;
    padding:10px ;
    color:#fff;
    text-align: center;
    font-family: "Rubik";
}

.qa{
    padding: 10px 20px;
}

::-webkit-details-marker{
    float:right;
    margin-top:3px;
    
}
details{
    background: #f6f6f6;
    padding:10px;
    border-radius:7px;
    margin-top:20px;
    font-family: "Rubik";
    font-size: 14px;
    letter-spacing: 1px;
}

details summary{
    outline:none;
}

input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: none;
}

input[type=submit]{
        background-color: #5dd661; 
        border: none;
        color: rgb(8, 8, 8);
        text-align: center;
        font-size: 10px;
        height: 30px;
        width:60px;
        border-radius: 5px;
}

input[type =submit]:hover {
    background-color: #0dcf0d;
    color: white;
  }

.button{
        border: none;
        color: rgb(229, 236, 230);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        background: rgb(33, 189, 33);
        margin-right: 0px;
        border-radius: 5px;
        margin-top: 100px;
      
}

.button1:hover {
    background-color: #0dcf0d;
    color: white;
  }

  .button2:hover {
    background-color: #cf440d;
    color: white;
  }


  /*navigation bar*/


  @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
    padding: 0%;
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}
.loginContainer{
    position: relative;
    width: 1520px;
    height: 800px;
    background: #EEEEEE;
    box-sizing: border-box;
}
nav{
    background: white;
    height: 80px;
    width: 100%;
}
label.logo{
    color: green;
    font-size: 38px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right:100px;
}
nav ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}
nav ul li a{
    color: green;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}
nav ul li a.active,
nav ul li a:hover {
    background: green;
    color: white;
    transition: 0.5s;
}
nav ul li a:hover{
    background-color:#4EEC54;
    color: white;
    transition: 0.5s;
}
.animation{
    position: absolute;
    height: 100%;
    top: 0;
    border-radius: 8px;
    transition: all .5s ease 0s;
}