body {
    /* home 1 */
    position: absolute;
    width: 36px;
    height: 39px;
    background: url(home.png);
    /* Homepage + Newspaper Sub */
    position: relative;
    width: 1980px;
    height: 2399px;
    /* Frame 6 */
    position: absolute;
    width: 1980px;
    height: 2399px;
    left: 0px;
    top: 0px;
    /* Rectangle 9 */
    position: absolute;
    width: 1980px;
    height: 50px;
    left: 0px;
    top: 23px;
    background: #C4C4C4;
    /* home 1 */
    position: absolute;
    width: 36px;
    height: 36px;
    left: 255px;
    top: 28px;
    background: url(home.png);
    /* Rectangle 54 */
    position: absolute;
    width: 325px;
    height: 32px;
    left: 1418px;
    top: 28px;
    background: #FFFFFF;
    /* loupe 1 */
    position: absolute;
    width: 25px;
    height: 25px;
    left: 1434px;
    top: 31px;
    background: url(loupe.png);
    /* Rectangle 10 */
    position: absolute;
    width: 962px;
    height: 33px;
    left: 353px;
    top: 30px;
    background: #FFFFFF;
    /* https://www.wadak.com/ */
    position: absolute;
    width: 203px;
    height: 21px;
    left: 390px;
    top: 36px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #000000;
    /* Arrow 3 */
    position: absolute;
    width: 28px;
    height: 0px;
    left: 82px;
    top: 46px;
    border: 3px solid #000000;
    box-sizing: border-box;
    transform: rotate(180deg);
    /* Arrow 4 */
    position: absolute;
    width: 28px;
    height: 0px;
    left: 112px;
    top: 46px;
    border: 3px solid #8A7F7F;
    box-sizing: border-box;
    /* Ellipse 2 */
    position: absolute;
    width: 127px;
    height: 126px;
    left: 455px;
    top: 86px;
    background: #FFFFFF;
    /* Wadak */
    position: absolute;
    width: 110px;
    height: 42px;
    left: 464px;
    top: 129px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #3F9A3D;
    /* Rectangle 34 */
    position: absolute;
    width: 1980px;
    height: 435px;
    left: 0px;
    top: 235px;
    background: #FFFFFF;
    /* Social Media */
    position: absolute;
    width: 256px;
    height: 93px;
    left: 1875px;
    top: 2404px;
    /* instagram-brands */
    position: absolute;
    width: 81px;
    height: 93px;
    left: 1875px;
    top: 2404px;
    /* linkedin-brands */
    position: absolute;
    width: 82px;
    height: 93px;
    left: 1956px;
    top: 2404px;
    /* twitter-brands */
    position: absolute;
    width: 93px;
    height: 93px;
    left: 2038px;
    top: 2404px;
    /* Rectangle 35 */
    position: absolute;
    width: 360px;
    height: 212px;
    left: 569px;
    top: 310px;
    background: #C2EFBE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* Headings */
    position: absolute;
    width: 102px;
    height: 28px;
    left: 698px;
    top: 402px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    /* Image */
    position: absolute;
    width: 67px;
    height: 28px;
    left: 1183px;
    top: 402px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    /* Rectangle 38 */
    position: absolute;
    width: 455px;
    height: 214px;
    left: 762px;
    top: 814px;
    background: #C2EFBE;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    /* Job post */
    position: absolute;
    width: 94px;
    height: 28px;
    left: 947px;
    top: 911px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    /* Rectangle 41 */
    position: absolute;
    width: 1980px;
    height: 535px;
    left: 0px;
    top: 1180px;
    background: #FFFFFF;
    /* Frame */
    position: absolute;
    width: 254px;
    height: 241px;
    left: 550px;
    top: 1320px;
    /* Group */
    position: absolute;
    left: 1.57%;
    right: 1.57%;
    top: 0%;
    bottom: 3.32%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* Vector */
    position: absolute;
    left: 1.57%;
    right: 1.57%;
    top: 0%;
    bottom: 3.32%;
    background: #C2EFBE;
    /* Vector */
    position: absolute;
    left: 37.85%;
    right: 37.02%;
    top: 46.45%;
    bottom: 44.4%;
    background: #000000;
    /* Frame */
    position: absolute;
    width: 254px;
    height: 241px;
    left: 1180px;
    top: 1322px;
    /* Group */
    position: absolute;
    left: 1.57%;
    right: 1.57%;
    top: 0%;
    bottom: 3.32%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* Vector */
    position: absolute;
    left: 1.57%;
    right: 1.57%;
    top: 0%;
    bottom: 3.32%;
    background: #C2EFBE;
    /* Vector */
    position: absolute;
    left: 37.85%;
    right: 37.02%;
    top: 46.45%;
    bottom: 44.4%;
    background: #000000;
    /* Frame */
    position: absolute;
    width: 254px;
    height: 241px;
    left: 860px;
    top: 1320px;
    /* Group */
    position: absolute;
    left: 1.57%;
    right: 1.57%;
    top: 0%;
    bottom: 3.32%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* Vector */
    position: absolute;
    left: 1.57%;
    right: 1.57%;
    top: 0%;
    bottom: 3.32%;
    background: #C2EFBE;
    /* Image */
    position: absolute;
    left: 37.01%;
    right: 36.61%;
    top: 44.4%;
    bottom: 43.98%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    /* Rectangle 42 */
    position: absolute;
    width: 221px;
    height: 53px;
    left: 876px;
    top: 1077px;
    background: #3F9A3D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 85px;
    /* Frame */
    position: absolute;
    width: 229px;
    height: 61px;
    left: 878px;
    top: 1589px;
    /* Group */
    position: absolute;
    left: 1.75%;
    right: 1.75%;
    top: 0%;
    bottom: 13.11%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* Vector */
    position: absolute;
    left: 1.75%;
    right: 1.75%;
    top: 0%;
    bottom: 13.11%;
    background: #3F9A3D;
    /* Register Now */
    position: absolute;
    width: 145px;
    height: 28px;
    left: 39px;
    top: 13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    /* Post Job */
    position: absolute;
    width: 96px;
    height: 28px;
    left: 934px;
    top: 1090px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    /* Top Service Providers */
    position: absolute;
    width: 346px;
    height: 42px;
    left: 819px;
    top: 1237px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #3F9A3D;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* Top Service Providers */
    position: absolute;
    width: 346px;
    height: 42px;
    left: 809px;
    top: 715px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #3F9A3D;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* wrong 1 */
    position: absolute;
    width: 27px;
    height: 24px;
    left: 173px;
    top: 31px;
    background: url(wrong.png);
    /* Rectangle 72 */
    position: absolute;
    width: 111px;
    height: 46px;
    left: 883px;
    top: 106px;
    background: #599F68;
    /* Rectangle 73 */
    position: absolute;
    width: 111px;
    height: 45px;
    left: 1103px;
    top: 107px;
    background: #FFFFFF;
    /* Rectangle 74 */
    position: absolute;
    width: 111px;
    height: 45px;
    left: 994px;
    top: 107px;
    background: #FFFFFF;
    /* Rectangle 75 */
    position: absolute;
    width: 111px;
    height: 45px;
    left: 1414px;
    top: 107px;
    background: #FFFFFF;
    /* Rectangle 76 */
    position: absolute;
    width: 111px;
    height: 45px;
    left: 1303px;
    top: 107px;
    background: #FFFFFF;
    /* Messages */
    position: absolute;
    width: 83px;
    height: 21px;
    left: 1304px;
    top: 120px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #000000;
    /* Rectangle 77 */
    position: absolute;
    width: 92px;
    height: 45px;
    left: 1211px;
    top: 107px;
    background: #FFFFFF;
    /* Services */
    position: absolute;
    width: 70px;
    height: 21px;
    left: 1120px;
    top: 120px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #000000;
    /* Jobs */
    position: absolute;
    width: 40px;
    height: 21px;
    left: 1030px;
    top: 119px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #000000;
    /* Post Job */
    position: absolute;
    width: 72px;
    height: 21px;
    left: 903px;
    top: 119.6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;
    transform: rotate(-1.27deg);
    /* be; 3 */
    position: absolute;
    width: 41.1px;
    height: 35px;
    left: 1233px;
    top: 112px;
    background: url(be;.png);
    border-radius: 256px;
    /* Login */
    position: absolute;
    width: 46px;
    height: 21px;
    left: 1447px;
    top: 120px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #2B9330;
    /* Rectangle 125 */
    position: absolute;
    width: 1980px;
    height: 109px;
    left: 0px;
    top: 2290px;
    background: #C4C4C4;
    /* Powered by Group18 */
    position: absolute;
    width: 236px;
    height: 63px;
    left: 929px;
    top: 2336px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    /* Terms & Conditions */
    position: absolute;
    width: 218px;
    height: 34px;
    left: 459px;
    top: 1863px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    /* Privacy Policy */
    position: absolute;
    width: 218px;
    height: 34px;
    left: 459px;
    top: 1934px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    /* About us */
    position: absolute;
    width: 218px;
    height: 34px;
    left: 459px;
    top: 2005px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    /* FAQ */
    position: absolute;
    width: 218px;
    height: 34px;
    left: 459px;
    top: 2076px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    /* Ellipse 3 */
    position: absolute;
    width: 194px;
    height: 176px;
    left: 157px;
    top: 1792px;
    background: #FFFFFF;
    /* Wadak */
    position: absolute;
    width: 146px;
    height: 56px;
    left: 181px;
    top: 1853px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #2B9330;
    /* Social Media */
    position: absolute;
    width: 244px;
    height: 46.72px;
    left: 921px;
    top: 2186px;
    /* facebook-square-brands 1 */
    position: absolute;
    width: 40.79px;
    height: 46.72px;
    left: 921px;
    top: 2186px;
    /* Vector */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 6.25%;
    bottom: 6.25%;
    background: #000000;
    /* Vector */
    position: absolute;
    left: 49.77%;
    right: 48.17%;
    top: 91.24%;
    bottom: 7.05%;
    background: #000000;
    /* Vector */
    position: absolute;
    left: 53.11%;
    right: 44.87%;
    top: 91.28%;
    bottom: 7.05%;
    background: #000000;
    /* Vector */
    position: absolute;
    left: 56.33%;
    right: 41.16%;
    top: 91.24%;
    bottom: 7.09%;
    background: #000000;
    /* Rectangle 36 */
    position: absolute;
    width: 368px;
    height: 212px;
    left: 1023.5px;
    top: 310px;
    background: #C2EFBE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* Stay Connected */
    position: absolute;
    width: 406px;
    height: 315px;
    left: 1290px;
    top: 1810px;
    /* Stay Connected! */
    position: absolute;
    width: 394px;
    height: 52px;
    left: 1296px;
    top: 1810px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    /* Subscribe the NewsLetter */
    position: absolute;
    width: 391px;
    height: 34px;
    left: 1296px;
    top: 1871px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    /* Rectangle 126 */
    position: absolute;
    width: 406px;
    height: 44px;
    left: 1290px;
    top: 1917px;
    background: #B3ADAD;
    /* Email */
    position: absolute;
    width: 87px;
    height: 34px;
    left: 1317px;
    top: 1927px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    /* Rectangle 127 */
    position: absolute;
    width: 406px;
    height: 44px;
    left: 1290px;
    top: 1999px;
    background: #B3ADAD;
    /* First Name */
    position: absolute;
    width: 219px;
    height: 34px;
    left: 1317px;
    top: 2009px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    /* Rectangle 128 */
    position: absolute;
    width: 406px;
    height: 44px;
    left: 1290px;
    top: 2081px;
    background: #B3ADAD;
    /* LastName */
    position: absolute;
    width: 219px;
    height: 34px;
    left: 1317px;
    top: 2091px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}