<!Doctype HTML>
<html>
<head>
    <title>Accept/Reject Invitation</title>
    <style>a {text-decoration: none;}</style>
    <link rel="stylesheet" href="./css/accept reject invitation.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <nav>
        <label class="logo">WADAK</label>
        <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">Post Job</a> </li>
            <li><a href="#">Jobs</a> </li>
            <li><a href="#">Services</a> </li>
            <li><a href="#">Messages</a> </li>
            <li><a href="#">Login</a> </li>
            <div class="animation "></div>
        </ul>
    </nav>


<div class="container">
    <div class="wrapper">
      <div class="title"><span>Job Invitation</span></div>
      <form>
        <img src="programmer.png" alt="user image" class="right" style="width:50px;height:50px; align-items:center;" >
        <div class="row"> 
          <span>Title </span><br><br>
          <span>Description </span><br><br>
        </div>
       <br> <button class="button button1">Accept</button>
       <button class="button button2">Reject</button> 
        </div>
      </form>
    </div>
  </div>

</body>
</html>
