<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/apply.css">
    </head>

    <body>

        <!-- -----------------------------nav bar ------------------------------------- -->

        <nav>
            <a href="home.html"><img class="wadaklogo" src="wadak.gif" alt="wadak gif"
                    style="float:left width:5% height:5%"></a>
            <ul style="margin-top: 1rem">
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">Post Job</a> </li>
                <li><a href="#">Jobs</a> </li>
                <li><a href="#">Services</a> </li>
                <li><a href="#">Messages</a> </li>
                <li><a href="#">Profile</a> </li>
                <div class="animation "></div>
            </ul>
        </nav>




        <!-- --------------x--------------nav bar ----------------x----------------- -->

        <script src="" async defer></script>
    </body>

</html>
