<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Wadak.com</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/catagorymain.css">
        <link rel="stylesheet" href="./css/navigationBar.css">
        <link rel="stylesheet" href="./css/toggle.css">
        <link rel="stylesheet" href="./css/owl.carousel.min.css">
        <link rel="stylesheet" href="./css/owl.theme.default.min.css">

        <script src="https://kit.fontawesome.com/553d46dead.js" crossorigin="anonymous"></script>
    </head>

    <body>


        <!----------------------------------Navigation-------------------------------------->
        <header>
            <a href="home.html"><img class="wadaklogo" src="wadak.gif" alt="wadak gif"
                    style="float:left width:5% height:5%"></a>
            <nav>
                <ul class="navbar">
                    <li class="navbargreen"><a href="#">Post Jobs</a></li>
                    <li class="greenbar"><a href="#">Jobs</a></li>
                    <li><a href="#">Services</a></li>
                    <li><i class="far fa-bell"></i></li>
                    <li><a href="#">Messages</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </nav>
        </header>



        <!-----------------x----------------Navigation-------------------x------------------>


        <!-------------------------------------searchbar------------------------------------->



        <div class="topnav">

            <a href="#about"></a>
            <a href="#contact"></a>
            <a class="active" href="#"></a>
            <label class="switch">
                <input type="checkbox">
                <span class="sliderround"></span>
            </label>
            <input type="text" placeholder="Find Service..">
        </div>


        <!------------------x------------------searchbar-------------------x----------------->



        <!-------------------------------------boxes--------------------------------------------->

        <div class="boxcontainer">
            <div class="griditem">
                <a href="#">
                    <img src="1.jpg">
                </a>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <a href="https://fontawesome.com/v5.15/icons/user?style=solid" target="_blank">Username</a>
                </div>

                <div class="jobtitle">
                    <a href="#">
                        <h2>I will create a professional minimalist logo design
                        </h2>
                    </a>
                </div>

                <div class="pricebar">
                    <h3>Starting Price</h3>
                </div>

            </div>
            <div class="griditem">
                <a href="#">
                    <img src="1.jpg">
                </a>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <a href="https://fontawesome.com/v5.15/icons/user?style=solid" target="_blank">Username</a>
                </div>

                <div class="jobtitle">
                    <a href="#">
                        <h2>I will create a professional minimalist logo design
                        </h2>
                    </a>
                </div>

                <div class="pricebar">
                    <h3>Starting Price</h3>
                </div>

            </div>
            <div class="griditem">
                <a href="#">
                    <img src="1.jpg">
                </a>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <a href="https://fontawesome.com/v5.15/icons/user?style=solid" target="_blank">Username</a>
                </div>

                <div class="jobtitle">
                    <a href="#">
                        <h2>I will create a professional minimalist logo design
                        </h2>
                    </a>
                </div>

                <div class="pricebar">
                    <h3>Starting Price</h3>
                </div>

            </div>
            <div class="griditem">
                <a href="#">
                    <img src="1.jpg">
                </a>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <a href="https://fontawesome.com/v5.15/icons/user?style=solid" target="_blank">Username</a>
                </div>

                <div class="jobtitle">
                    <a href="#">
                        <h2>I will create a professional minimalist logo design
                        </h2>
                    </a>
                </div>

                <div class="pricebar">
                    <h3>Starting Price</h3>
                </div>

            </div>
            <div class="griditem">
                <a href="#">
                    <img src="1.jpg">
                </a>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <a href="https://fontawesome.com/v5.15/icons/user?style=solid" target="_blank">Username</a>
                </div>

                <div class="jobtitle">
                    <a href="#">
                        <h2>I will create a professional minimalist logo design
                        </h2>
                    </a>
                </div>

                <div class="pricebar">
                    <h3>Starting Price</h3>
                </div>

            </div>
            <div class="griditem">
                <a href="#">
                    <img src="1.jpg">
                </a>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <a href="https://fontawesome.com/v5.15/icons/user?style=solid" target="_blank">Username</a>
                </div>

                <div class="jobtitle">
                    <a href="#">
                        <h2>I will create a professional minimalist logo design
                        </h2>
                    </a>
                </div>

                <div class="pricebar">
                    <h3>Starting Price</h3>
                </div>

            </div>
            <div class="griditem">
                <a href="#">
                    <img src="1.jpg">
                </a>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <a href="https://fontawesome.com/v5.15/icons/user?style=solid" target="_blank">Username</a>
                </div>

                <div class="jobtitle">
                    <a href="#">
                        <h2>I will create a professional minimalist logo design
                        </h2>
                    </a>
                </div>

                <div class="pricebar">
                    <h3>Starting Price</h3>
                </div>

            </div>
            <div class="griditem">
                <a href="#">
                    <img src="1.jpg">
                </a>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <a href="https://fontawesome.com/v5.15/icons/user?style=solid" target="_blank">Username</a>
                </div>

                <div class="jobtitle">
                    <a href="#">
                        <h2>I will create a professional minimalist logo design
                        </h2>
                    </a>
                </div>

                <div class="pricebar">
                    <h3>Starting Price</h3>
                </div>

            </div>
            <div class="griditem">
                <a href="#">
                    <img src="1.jpg">
                </a>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <a href="https://fontawesome.com/v5.15/icons/user?style=solid" target="_blank">Username</a>
                </div>

                <div class="jobtitle">
                    <a href="#">
                        <h2>I will create a professional minimalist logo design
                        </h2>
                    </a>
                </div>

                <div class="pricebar">
                    <h3>Starting Price</h3>
                </div>

            </div>
            <div class="griditem">
                <a href="#">
                    <img src="1.jpg">
                </a>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <a href="https://fontawesome.com/v5.15/icons/user?style=solid" target="_blank">Username</a>
                </div>

                <div class="jobtitle">
                    <a href="#">
                        <h2>I will create a professional minimalist logo design
                        </h2>
                    </a>
                </div>

                <div class="pricebar">
                    <h3>Starting Price</h3>
                </div>

            </div>
            <div class="griditem">
                <a href="#">
                    <img src="1.jpg">
                </a>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <a href="https://fontawesome.com/v5.15/icons/user?style=solid" target="_blank">Username</a>
                </div>

                <div class="jobtitle">
                    <a href="#">
                        <h2>I will create a professional minimalist logo design
                        </h2>
                    </a>
                </div>

                <div class="pricebar">
                    <h3>Starting Price</h3>
                </div>

            </div>
            <div class="griditem">
                <a href="#">
                    <img src="1.jpg">
                </a>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <a href="https://fontawesome.com/v5.15/icons/user?style=solid" target="_blank">Username</a>
                </div>

                <div class="jobtitle">
                    <a href="#">
                        <h2>I will create a professional minimalist logo design
                        </h2>
                    </a>
                </div>

                <div class="pricebar">
                    <h3>Starting Price</h3>
                </div>

            </div>
            <div class="griditem">
                <a href="#">
                    <img src="1.jpg">
                </a>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <a href="https://fontawesome.com/v5.15/icons/user?style=solid" target="_blank">Username</a>
                </div>

                <div class="jobtitle">
                    <a href="#">
                        <h2>I will create a professional minimalist logo design
                        </h2>
                    </a>
                </div>

                <div class="pricebar">
                    <h3>Starting Price</h3>
                </div>

            </div>
            <div class="griditem">
                <a href="#">
                    <img src="1.jpg">
                </a>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <a href="https://fontawesome.com/v5.15/icons/user?style=solid" target="_blank">Username</a>
                </div>

                <div class="jobtitle">
                    <a href="#">
                        <h2>I will create a professional minimalist logo design
                        </h2>
                    </a>
                </div>

                <div class="pricebar">
                    <h3>Starting Price</h3>
                </div>

            </div>
            <div class="griditem">
                <a href="#">
                    <img src="1.jpg">
                </a>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <a href="https://fontawesome.com/v5.15/icons/user?style=solid" target="_blank">Username</a>
                </div>

                <div class="jobtitle">
                    <a href="#">
                        <h2>I will create a professional minimalist logo design
                        </h2>
                    </a>
                </div>

                <div class="pricebar">
                    <h3>Starting Price</h3>
                </div>

            </div>
            <div class="griditem">
                <a href="#">
                    <img src="1.jpg">
                </a>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <a href="https://fontawesome.com/v5.15/icons/user?style=solid" target="_blank">Username</a>
                </div>

                <div class="jobtitle">
                    <a href="#">
                        <h2>I will create a professional minimalist logo design
                        </h2>
                    </a>
                </div>

                <div class="pricebar">
                    <h3>Starting Price</h3>
                </div>

            </div>
            <div class="griditem">
                <a href="#">
                    <img src="1.jpg">
                </a>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <a href="https://fontawesome.com/v5.15/icons/user?style=solid" target="_blank">Username</a>
                </div>

                <div class="jobtitle">
                    <a href="#">
                        <h2>I will create a professional minimalist logo design
                        </h2>
                    </a>
                </div>

                <div class="pricebar">
                    <h3>Starting Price</h3>
                </div>

            </div>
            <div class="griditem">
                <a href="#">
                    <img src="1.jpg">
                </a>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <a href="https://fontawesome.com/v5.15/icons/user?style=solid" target="_blank">Username</a>
                </div>

                <div class="jobtitle">
                    <a href="#">
                        <h2>I will create a professional minimalist logo design
                        </h2>
                    </a>
                </div>

                <div class="pricebar">
                    <h3>Starting Price</h3>
                </div>

            </div>
            <div class="griditem">
                <a href="#">
                    <img src="1.jpg">
                </a>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <a href="https://fontawesome.com/v5.15/icons/user?style=solid" target="_blank">Username</a>
                </div>

                <div class="jobtitle">
                    <a href="#">
                        <h2>I will create a professional minimalist logo design
                        </h2>
                    </a>
                </div>

                <div class="pricebar">
                    <h3>Starting Price</h3>
                </div>

            </div>
            <div class="griditem">
                <a href="#">
                    <img src="1.jpg">
                </a>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <a href="https://fontawesome.com/v5.15/icons/user?style=solid" target="_blank">Username</a>
                </div>

                <div class="jobtitle">
                    <a href="#">
                        <h2>I will create a professional minimalist logo design
                        </h2>
                    </a>
                </div>

                <div class="pricebar">
                    <h3>Starting Price</h3>
                </div>

            </div>
            <div class="griditem">
                <a href="#">
                    <img src="1.jpg">
                </a>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <a href="https://fontawesome.com/v5.15/icons/user?style=solid" target="_blank">Username</a>
                </div>

                <div class="jobtitle">
                    <a href="#">
                        <h2>I will create a professional minimalist logo design
                        </h2>
                    </a>
                </div>

                <div class="pricebar">
                    <h3>Starting Price</h3>
                </div>

            </div>
            <div class="griditem">
                <a href="#">
                    <img src="1.jpg">
                </a>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <a href="https://fontawesome.com/v5.15/icons/user?style=solid" target="_blank">Username</a>
                </div>

                <div class="jobtitle">
                    <a href="#">
                        <h2>I will create a professional minimalist logo design
                        </h2>
                    </a>
                </div>

                <div class="pricebar">
                    <h3>Starting Price</h3>
                </div>

            </div>
            <div class="griditem">
                <a href="#">
                    <img src="1.jpg">
                </a>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <a href="https://fontawesome.com/v5.15/icons/user?style=solid" target="_blank">Username</a>
                </div>

                <div class="jobtitle">
                    <a href="#">
                        <h2>I will create a professional minimalist logo design
                        </h2>
                    </a>
                </div>

                <div class="pricebar">
                    <h3>Starting Price</h3>
                </div>

            </div>
            <div class="griditem">
                <a href="#">
                    <img src="1.jpg">
                </a>

                <div class="username">
                    <i class="fas fa-user"></i>
                    <a href="https://fontawesome.com/v5.15/icons/user?style=solid" target="_blank">Username</a>
                </div>

                <div class="jobtitle">
                    <a href="#">
                        <h2>I will create a professional minimalist logo design
                        </h2>
                    </a>
                </div>

                <div class="pricebar">
                    <h3>Starting Price</h3>
                </div>

            </div>

        </div>
        <!-------------------x------------------boxes------------------------x------------------->

        <!----------------------------------footer--------------------------------------->

        <div class="footer">
            <div class="container">
                <div class="col1">
                    <a href="#""><img class=" wadaklogo" src="wadak.gif" alt="wadak gif"></a>
                    <ul>
                        <li><a href="#">Terms & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                    </ul>
                </div>

                <div class="col2">
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li><i class="fab fa-instagram-square"></i></li>
                        <li><i class="fab fa-linkedin"></i></li>
                        <li><i class="fab fa-twitter-square"></i></li>
                    </ul>

                </div>

                <div class="col3">
                    <h1>Stay Connected!</h1>
                    <p>Subscribe for the news letter</p>

                    <form action="#" class="formnews">
                        <label for="email">Email</label><br>
                        <input type="email" id="email" name="email"><br>
                        <label for="fname">First Name</label><br>
                        <input type="text" id="fname" name="fname"><br>
                        <label for="lname">Last Name</label><br>
                        <input type="text" id="lname" name="lname"><br>
                        <input id="submitnews" type="submit" value="Submit">
                    </form>
                </div>

            </div>
            <div class="copyrights">
                <p><a href="#" target="_blank">Powered by Group18</a></p>
            </div>

        </div>

        <!------------------x--------------footer----------------------x---------------->






        <script src="./js/Jquery3.4.1.min.js"></script>
        <script src="./js/home.js"></script>
        <script src="./js/owl.carousel.min.js"></script>

    </body>


</html>
