<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>a {text-decoration: none;}</style>
    <title>Change Password</title>
    <link rel="stylesheet" href="./css/changepassword.css">
</head>
<body>
<nav>
    <label class="logo">WADAK</label>
    <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">Jobs</a> </li>
        <li><a href="#">POST JOB</a> </li>
        <li><a href="#">Services</a> </li>
        <li><a href="#">MESSAGES</a> </li>
        <li><a href="/WADAK.com/implementation/controller/logout.php">Logout</a> </li>
        <div class="animation "></div>
    </ul>
</nav>
<div class="loginContainer">

    
    
    

    <div class="inputContainer">
        <div class="form">
            <br><br><br>
            <h2>Password Changed Sucessfully !</h2>
            <br><br><br>
            <div class="inputContainer2">
                <img src="okey.jpg" width="70" height="70">
            </div>
            <br>
            <br><br><br><br><br>
            <h3>Check Your Email For new Password.</h3>
          
    </div>