<!Doctype HTML>
<html>
<head>
    <title>Delete question</title>
    <style>a {text-decoration: none;}</style>
    <link rel="stylesheet" href="delete question.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <nav>
        <label class="logo">WADAK</label>
        <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">Post Job</a> </li>
            <li><a href="#">Jobs</a> </li>
            <li><a href="#">Services</a> </li>
            <li><a href="#">Messages</a> </li>
            <li><a href="#">Login</a> </li>
            <div class="animation "></div>
        </ul>
    </nav>

<div id="mySidenav" class="sidenav">
    <p class="logo">WADAK <span class="menu">&#9776;</span></p>
    <p class="logo1"> <span class="menu1">&#9776;</span></p>
    <a href="#"class="icon-a"><i class="fa fa-home icons"></i> &nbsp;&nbsp;Home</a>
    <a href="#" class="icon-a"><i class="fa fa-dashboard icons"></i> &nbsp;&nbsp;Dashboard</a>
    <a href="#"class="icon-a"><i class="fa fa-list icons"></i> &nbsp;&nbsp;All</a>
    <a href="#"class="icon-a"><i class="fa fa-tasks icons"></i> &nbsp;&nbsp;Q&A</a>
</div>

<div class="container">
    <div class="wrapper">
      <div class="title"><span>Delete Question</span></div>
      <form>
        <div class="row"> 
          Enter Your Password: <input type="password"  > 
        </div>
         <div class ="button1">
              <input type="submit" value="View question"> 
        </div>

        <br><h4>Your Previously Asked Questions:</h4><br>

        <div id="list" class="dropdown-check-list" tabindex="100"> 
            <ul type="none">
                <li><input type="checkbox" /> 1st Question </li><br>
                <li><input type="checkbox" /> 2nd Question</li><br>
                <li><input type="checkbox" /> 3rd Question </li><br>
                <li><input type="checkbox" /> 4th Question </li>
            </ul>
        </div>   
        <div class="row button">
          <input type="submit" value="Delete">
          <input type="submit" value="Cancel">
        </div>
      </form>
    </div>
  </div>

</body>
</html>
