<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>a {text-decoration: none;}</style>
    <title>Delete Account</title>
    <link rel="stylesheet" href="./css/deleteaccount.css">
</head>
<body>
<nav>
    <label class="logo">WADAK</label>
    <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">Jobs</a> </li>
        <li><a href="#">POST JOB</a> </li>
        <li><a href="#">Services</a> </li>
        <li><a href="#">MESSAGES</a> </li>
        <li><a href="#">Login</a> </li>
        <div class="animation "></div>
    </ul>
</nav>
<div class="loginContainer">

    <div class="inputContainer2">
        <img src="delete2.png" width="70" height="70">
    </div>
    
    

    <div class="inputContainer">
        <div class="form">
            <br><br><br>
            <h2>Delete Account ?</h2>
            <br><br><br>
            <h3>Are You Sure You Want to Delete Your Account?</h3>
           <br><br>
            <br><a href="#" class="button" type="submit">Cancle</a>
            <a href="#" class="button" type="submit">Delete Account</a></br>
        </div>
    </div>

    


    
</div>

</html>