<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <style>a {text-decoration: none;}</style>
  <title>Forgot password</title>
  <link rel="stylesheet" href="forgot%20password.css">
</head>
<body>

<nav>
  <label class="logo">WADAK</label>
  <ul>
    <li><a href="#" class="active">Home</a></li>
    <li><a href="#">Jobs</a> </li>
    <li><a href="#">Services</a> </li>
    <li><a href="#">Login</a> </li>
    <div class="animation "></div>
  </ul>
</nav>
<div class="loginContainer">
  <div class="inputContainer">
    <div class="form">
      <h2>Reset your password</h2>
      <form>
        <div class="inputbox">
          <input type="password" placeholder="Enter your email address or phone number">
        </div>
        <p>We'll send you the Username and Password of your account.</p>
        <p>After Log in, <b>you need to change your password</b></p>
        <div class="inputbox">
            <a href="#" class="button"> Continue</a>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>