<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Wadak.com</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="home.css">
    </head>
    <body style="background-color:#c4c4c4">
        
        <div>
            <h1>Wadak.com</h1>

        
        
            <img class="wadak" src="wadak.gif" alt="wadak gif" style="float:left width:5% height:5%">
        </div>

        <div></div>

        <div>
            <h1>TOP SERVICE PROVIDERS</h1>
        </div>

        <div>
            <h1>TOP SERVICE PROVIDERS</h1>
        </div>

        <div>
            <img class="wadak" src="wadak.gif" alt="wadak gif" style="float:left width:5% height:5%">
        </div>
    </body>
</html>