<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Wadak.com</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="home.css">
        <link rel="stylesheet" href="slider.css">
        <script src="https://kit.fontawesome.com/553d46dead.js" crossorigin="anonymous"></script>
    </head>



    <body>


        <!----------------------------------Navigation-------------------------------------->
        <header>
            <img class="wadaklogo" src="wadak.gif" alt="wadak gif" style="float:left width:5% height:5%">
            <nav>
                <ul class="navbar">
                    <li class="navbargreen"><a href="#">Post Jobs</a></li>
                    <li class="greenbar"><a href="#">Jobs</a></li>
                    <li><a href="#">Services</a></li>
                    <li><i class="far fa-bell"></i></li>
                    <li><a href="#">Messages</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </nav>
        </header>



        <!-----------------x----------------Navigation-------------------x------------------>

        <!----------------------------------section1--------------------------------------->
        <h2>Automatic Slideshow</h2>
        <p>Change image every 2 seconds:</p>

        <div class="slideshow-container">

            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="img_nature_wide.jpg" style="width:100%">
                <div class="text">Caption Text</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="img_snow_wide.jpg" style="width:100%">
                <div class="text">Caption Two</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="img_mountains_wide.jpg" style="width:100%">
                <div class="text">Caption Three</div>
            </div>

        </div>
        <br>

        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>

        <!------------------x--------------section1----------------------x---------------->


        <!----------------------------------Slider------------------------------------------>






        <!----------------------------------Slider------------------------------------------>



        <!----------------------------------section2--------------------------------------->

        <div class="container2">
            <div class="sectionheading2">
                <h1 class="">Popular Services</h1>

                <a href="#"><button id="postbutton2">Post Job</button></a>
            </div>
        </div>

        <!------------------x--------------section2----------------------x---------------->

        <!----------------------------------section3--------------------------------------->

        <div class="container3">
            <div class="sectionheading3">
                <h1 class="">TOP SERVICE PROVIDERS</h1>

                <a href="#"><button id="postbutton3">Register Now</button></a>
            </div>
        </div>

        <!------------------x--------------section3----------------------x---------------->

        <!----------------------------------footer--------------------------------------->

        <footer>
            <div class="container">
                <div class="col1">
                    <a href="#""><img class=" wadaklogo" src="wadak.gif" alt="wadak gif"></a>
                    <ul>
                        <li>Terms & Condition</li>
                        <li>Privacy Policy</li>
                        <li>About us</li>
                        <li>Terms & Condition</li>
                    </ul>
                </div>

                <div class="col2">
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li><i class="fab fa-instagram-square"></i></li>
                        <li><i class="fab fa-linkedin"></i></li>
                        <li><i class="fab fa-twitter-square"></i></li>
                    </ul>

                </div>

                <div class="col3">
                    <h1>Stay Connected!</h1>
                    <p>Subscribe for the news letter</p>

                    <form action="#" class="formnews">
                        <label for="email">Email</label><br>
                        <input type="email" id="email" name="email"><br>
                        <label for="fname">First Name</label><br>
                        <input type="text" id="fname" name="fname"><br>
                        <label for="lname">Last Name</label><br>
                        <input type="text" id="lname" name="lname"><br>
                        <input id="submitnews" type="submit" value="Submit">
                    </form>
                </div>

            </div>
        </footer>
        <!------------------x--------------footer----------------------x---------------->

        <div class="copyrights">
            <p><a href="#" target="_blank">Powered by Group18</a></p>
        </div>





        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="home.js"></script>

    </body>

</html>
