<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <style>a {text-decoration: none;}</style>
  <title>Login</title>
  <link rel="stylesheet" href="navigationBar.css">
</head>
<body>
<div class="loginContainer">
  <nav>
    <label class="logo">WADAK</label>
    <ul>
      <li><a href="#" class="active">Home</a></li>
      <li><a href="#">Post Job</a> </li>
      <li><a href="#">Jobs</a> </li>
      <li><a href="#">Services</a> </li>
      <li><a href="#">Messages</a> </li>
      <li><a href="#">Login</a> </li>
      <div class="animation "></div>
    </ul>
  </nav>

</div>
</body>
</html>