<?php
    session_start();
?>


<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="UTF-8">
        <style>
            a {
                text-decoration: none;
            }

        </style>
        <title>Apply Service</title>
        <link rel="stylesheet" href="./css/postjob.css">
    </head>

    <body>

        <nav>
            <label class="logo">WADAK</label>
            <ul style="margin-top: 1rem">
                <li><a href="/WADAK.com/Implementation/view/home.php" class="active">Home</a></li>
                <li><a href="#">Post Job</a> </li>
                <li><a href="#">Jobs</a> </li>
                <li><a href="#">Services</a> </li>
                <li><a href="#">Messages</a> </li>
                <?php if(!isset($_SESSION["user"]["userrole"])){?>
                <li><a href="./login.php"></a></li>
                <?php }else {?>
                <li><a href="/WADAK.com/Implementation/view/hirepersondashboard.html"><i class="fas fa-user"></i></a>
                </li>
                <?php } ?>
                <div class="animation "></div>
            </ul>
        </nav>
        <div class="postcontainer">
            <div class="inputcontainer" id="loginbox">
                <div class="form">

                    <form action="/WADAK.com/Implementation/controller/applyservice.php" method="post">
                        <div class="inputbox">
                            <span>Title</span>
                            <input type="text" name="title" placeholder="Enter Your Job Title" required>
                        </div>
                        <div class="inputbox">
                            <span>DESCRIPTION</span>
                            <input id="des" type="text" name="description" placeholder="Enter Your Description"
                                required>
                        </div>
                        <div class="inputbox">
                            <span>Category</span>
                            <select id="cars" name="joblist" form="carform" required>
                                <option value="webdev">Web Development</option>
                                <option value="uidev">UI Design</option>
                                <option value="logo">Logo Design</option>
                                <option value="graphic">Graphic Design</option>
                                <option value="app">App Development</option>
                            </select>
                        </div>
                        <div class="inputbox">
                            <span>Price</span>
                            <input type="number" min="1" step="any" />
                        </div>

                        <div class="inputbox">

                            <input type="submit" value="POST">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>

</html>
