<!DOCTYPE html>
<html>
    <head>
        <title>
            Q&A
        </title>
        <link rel="stylesheet" href="Q&A.css">
    </head>
    <body>

        <nav>
            <label class="logo">WADAK</label>
            <ul>
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">Jobs</a> </li>
                <li><a href="#">POST JOB</a> </li>
                <li><a href="#">Services</a> </li>
                <li><a href="#">MESSAGES</a> </li>
                <li><a href="#">Login</a> </li>
                <div class="animation "></div>
            </ul>
        </nav>

        <div class="box">
        <p class="heading">Q&A</p>
        <div class="qa">

           <details>
               <summary>How register</summary>
               <h4 class="text">Register in here</h4>
               <input type="text"  placeholder="Type your reply here...">
               <input type="submit" value="Reply">
           </details>

           <details>
            <summary>How to register as service provider</summary>
            <h4 class="text">Register in here</h4>
            <input type="text"  placeholder="Type your reply here...">
            <input type="submit" value="Reply">
           </details>

           <details>
            <summary>How register as Hire person</summary>
            <h4 class="text">Register in here</h4>
            <input type="text"  placeholder="Type your reply here...">
            <input type="submit" value="Reply">
        </details>

        </div>
        </div>

        <button class="button button1">Add Question</button>
        <button class="button button2">Delete Question</button>

    </body>
</html>