<!DOCTYPE html>
<html lange="en" dir="Itr">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="registration.css">
</head>
<body>

    <nav>
        <label class="logo">WADAK</label>
        <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">Jobs</a> </li>
            <li><a href="#">Services</a> </li>
            <li><a href="#">Login</a> </li>
            <div class="animation "></div>
        </ul>
    </nav>

    
    <div class="container">
        <div class="title"><h4>Registration</h4></div><br>
        <form action="#">
            <div class="user-details">

                <div class="input-box">
                    <span class="details">First Name</span>
                    <input type="text" placeholder="Enter your first name">
                </div>

                <div class="input-box">
                    <span class="details">Last Name</span>
                    <input type="text" placeholder="Enter your last name">
                </div>

                <div class="input-box">
                    <span class="details">Date of Birth</span>
                    <input type="date" placeholder="Date of birth">
                </div>

                <div class="input-box">
                    <span class="details">Address</span>
                    <input type="text" placeholder="Enter your address">
                </div>

                <div class="input-box">
                    <span class="details">Email Address</span>
                    <input type="email" placeholder="Enter your email">
                </div>

                <div class="input-box">
                    <span class="details">Contact</span>
                    <input type="tel" placeholder="Enter your phone number">
                </div>

                <div class="input-box">
                    <span class="details">Discription</span>
                    <input type="textarea" placeholder="Enter discription">
                </div>
            </div>
            
             
            <br><br>
            
            <div class="type-details">
                <span class="type-title">Register As</span>
                <div class="category"><br>
                    <label for="">
                        
                        <input type="radio" name="type" id="dot-1">
                        <span class="type">&nbsp; Service provider</span>
                    </label>
                    <label for="">
                        
                        <input type="radio" name="type" id="dot-2">
                        <span class="type"> &nbsp; Hire person</span>
                    </label>
                </div>
            </div>
            

            <br><input type="checkbox"> &nbsp;&nbsp; “I accept the Terms of Service” or “I accept the Privacy Statement” Click here to indicate that you have 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;read and agree to the terms presented in the Terms and Conditions agreement.  <br>

            <div class="button">
                <input type ="submit" value = "Register">
            </div>
        </form>
    </div>
</div>

</body>
</html>