<!Doctype HTML>
<html>
<head>
    <title>service provider Profile</title>
    <style>a {text-decoration: none;}</style>
    <link rel="stylesheet" href="./css/service provider profile-view by hire person.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <nav>
        <label class="logo">WADAK</label>
        <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="Add achievement post - Service provider.html">Post Job</a> </li>
            <li><a href="#">Jobs</a> </li>
            <li><a href="#">Services</a> </li>
            <li><a href="#">Leaderboard</a> </li>
            <li><a href="chat.html">Messages</a> </li>
            <li><a href="/WADAK.com/implementation/controller/logout.php">Logout</a> </li>
            <div class="animation "></div>
        </ul>
    </nav>


    <a href="send invitation.html"> <input type="submit" class ="but" value="Invite"></a>
    <button type="button" class="button"><i class="fa fa-user" > </i> Report</button>
     <div class="container">
    <div class="wrapper">
      <div class="title"><span>Service Provider</span></div>
      <form>
        <image src="profile.png" class="center" style="  width:100px ; height: 100px; align-items:center;">
        <div class="row"> 
          <br><br><span>Name </span>  <span style="color: gray;">:   Name</span> <br><br><br>
          <span>Email </span> <span style="color: gray;">:  email@gmail.com </span><br><br><br>
          <span>Phone Number </span> <span style="color: gray;">:   #712454000 </span><br><br><br>
          <span>Description </span> <span style="color: gray;">:  Description  </span><br><br><br>
          
          <span>Subscription </span> <br><br>
          <div class="btn-group">
            <button>Software Develop</button>
            <button>Data Science</button>
            <button>Video editing</button>
          </div>

          <br><br><br>
          
          <!-- dropdown-->
          

        <!--ratings-->
        <span>Rating and Reviews</span>&nbsp;&nbsp;&nbsp;
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
         </div>
       <br>  
      </form>
      
    </div>
  </div>
  
</body>
</html>
