@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    padding: 0%;
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}

.postcontainer {
    position: relative;
    width: 20%;
    height: 120vh;
    background: #EEEEEE;
    box-sizing: border-box;
}

nav {
    background: white;
    height: 80px;
    width: 100%;
}

label.logo {
    color: green;
    font-size: 38px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 100px;
}

nav ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}

nav ul li a {
    color: green;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

nav ul li a.active, nav ul li a:hover {
    background: green;
    color: white;
    transition: 0.5s;
}

nav ul li a:hover {
    background-color: #4EEC54;
    color: white;
    transition: 0.5s;
}

.animation {
    position: absolute;
    height: 100%;
    top: 0;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

.postcontainer {
    width: 100vw;
    display: grid;
}

.inputcontainer {
    align-self: center;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 550px;
    height: 508px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    min-height: 100px;
    text-align: center;
}

.chat {
    width: 60vw;
    height: 70vh;
    background-color: white;
    margin-top: 10vh;
    margin-left: 20%;
    display: grid;
    grid-template-columns: 35% 65%;
}

.chat {
    text-align: center;
}

.leftbar {
    height: 100%;
    overflow: scroll;
}

.rightbar {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;

}

#searchbar {
    width: -webkit-fill-available;
}

.typing {}

.chat-container * {
    font-family: 'Roboto', sans-serif;
}

.chat-item {
    display: flex;
    padding: .5rem;
    font-size: 1.5rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: black;
    border-left: .3rem solid transparent;
    align-items: center;
}

.chat-item.active {
    background: #eee;
    border-left: .3rem solid green;

}

.chat-item:hover {
    background: #eee
}

[name=message] {
    width: 80%;
    height: 3rem;
    text-align: center;
    margin-bottom: 0rem
}

.btn-send {
    padding: .8rem;
    color: white;
    background-color:green;
    border:transparent;
}

.msg {
    background: #eee;
    border-radius: .3rem;
    padding: 5px;
    margin: 0.5rem;
    display: inline;

}